#u361-4,#u336-4,#u357-4
{
	font-family: open-sans-n6, sans-serif;
}

#u117-5
{
	font-family: gudea-n4, sans-serif;
}

#u483-4
{
	font-family: open-sans-n6, sans-serif;
}

#u399-3,#u399-5,#u399-6,#u399-8,#u399-15,#u399-26
{
	font-family: open-sans-n7, sans-serif;
}

#u399-10,#u399-12,#u399-13,#u399-17,#u399-19,#u399-21,#u399-23,#u399-24,#u399-28
{
	font-family: open-sans-n6, sans-serif;
}

#u506-4,#u399-31,#u399-34
{
	font-family: open-sans-n4, sans-serif;
}

#u435-19
{
	font-family: gudea-n4, sans-serif;
}

#u435-11,#u435-13
{
	font-family: gudea-n7, sans-serif;
}

